.discover_section{
    margin-top: 150px;
}
.discover_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.discover_img{
    height: 400px;
    width: 400px;
}
.discover_content{
    width: 650px;
    height: 300px;
    /* border: 1px solid yellow; */
    position: relative;
}
.discover_content > h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}
.discover_content > p{
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 30px;
}
.input{
    border: 1px solid gray;
    border-radius: 3px;
    width: 80%;
    height: 60px;
    outline: none;
    position: relative;
    margin-top: 40px;
    /* display: flex; */
}
.input > input {
    width: 80%;
    margin-left: 50px;
    height: 100%;
    position: absolute;
    font-size: 20px;
    border: none;
    outline: none;
}
.icon{
    position: absolute;
    z-index: 1;
    display: block;
    justify-content: center;
    align-items: center;
    /* border: 1px solid blue; */
    height: 60px;
    width: 50px;
    display: flex;
    font-size: 25px;
}