.connect_container{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.Connect_content > h1{
    font-size: 2.5rem;
    margin-bottom: 20px;
}
.Connect_content > p{
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 30px;
}
.button_content{
    /* border: 1px solid yellow; */
    width: 700px;
    /* height: 600px; */
    
}
.button_content > h5 {
    color: #677469;
    letter-spacing: 5px;
    font-size: 16px;
}

.buttons{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    flex-direction: row;
    /* align-content: flex-end; */
    /* border:  1px solid red; */
    /* height: 200px; */
   
    /* width: 100%; */
}
.buttons > div{
    /* border: 1px solid yellowgreen; */
    /* width: 100px; */
    height: 45px;
    /* margin: 18px; */
    /* margin-left: 20px; */
    background-color: white;
    /* margin-top: 10px; */
    border: 1px solid #40ba9b;
    border-radius: 30px;
    margin: 10px 10px;
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 19px;
    font-weight: 400;
    padding: 25px;
}
.buttons > div:hover{
    background-color: #d9fff1;
}
.buttons > div > a{
    text-decoration: none;
    color: #40ba9b;
}